:root {
	--font-clr: rgb(32, 31, 31);
	--bg-clr: rgb(246, 242, 242);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	background-color: var(--bg-clr);
}

.App {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	color: var(--font-clr);
	width: 90%;
	margin: 0 auto;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 1.5rem;
	width: 100%;
}

.nav-menu {
	display: flex;
	align-items: center;
	gap: 0.75rem;
}

.active {
	outline: 1px solid var(--font-clr);
	border-radius: 4px;
	padding: 0.15rem 0.25rem;
}

.nav a {
	color: var(--font-clr);
	text-decoration: none;
	cursor: pointer;
}
